{% extends 'idx_EduWeb/base.html' %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Course App</title>
    <link rel="stylesheet" href="{% static 'idx_EduWeb/course.css' %}">
</head>
<body>
    <div class="content">
        <div class="courseCard">
            <h1>Introduction to Python (4 Week Course)</h1>
            <div class='subLesson'>
                {% for each in courses %}
                    {% if each.course_id == 1 %}
                        <a href={{each.lesson_num}} class="lessonName"><h2>{{each.lesson_name}}</h2></a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="courseCard">
            <h1>Web Development and Intermediate Python (4 Week Course)</h1>
            <div class='subLesson'>
                {% for each in courses %}
                    {% if each.course_id == 2 %}
                        <a href={{each.course_id}} class="lessonName"><h2>{{each.lesson_name}}</h2></a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
{% endblock content %}